<!DOCTYPE html>
<html>
  <!-- Convert a UNIX timestamp to a string (surely a library can do this...) -->
  <script type="text/javascript">
    function pad_int(x) {
      return x < 10 ? "0" + x : x;
    }
    function to_local_time_string(stamp_seconds_string) {
      date = new Date(parseInt(stamp_seconds_string * 1000));
      D = date.getDate();
      M = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov",
          "Dec"][date.getMonth()];
      Y = date.getFullYear();
      h = pad_int(date.getHours());
      m = pad_int(date.getMinutes());
      s = pad_int(date.getSeconds());
      return M + " " + D + ", " + h + ":" + m + ":" + s + " (" + Y + ")";
    }
  </script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script type="text/javascript">var config = {{ firebase_config|safe }}</script>
  <script type="text/javascript" src="/static/js/init_firebase.js"></script>
  <script>
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        document.getElementById("logged_out").style.display = 'none';
        document.getElementById("logged_in").style.display = 'block';
        document.getElementById("logged_in_name").innerHTML = user.displayName;
      } else {
        document.getElementById("logged_out").style.display = 'block';
        document.getElementById("logged_in").style.display = 'none';
      }
    });
  </script>
  <body>
    <div>
      Welcome to cw-mungo!
    </div>
    <br>
    <div>
      Recently uploaded:
      <br>
      {% for recent in recents %}
      <a id="{{recent['date']}}" href="{{recent['url']}}"></a>
      <script type="text/javascript">
        stamp_string = "{{recent['date']}}";
        document.getElementById(stamp_string).innerHTML = to_local_time_string(stamp_string);
      </script>
      <br>
      {% endfor %}
      <br>
      <form action=preview method=post enctype=multipart/form-data>
        <input type="file" name="image_file"/><br>
        <input type="submit" value="Preview"/>
      </form>
      <br>
      <div id="logged_out" style="display: none;">
        <form action=login method=get >
          <input type="submit" value="Log in (new!!!)"/>
        </form>
      <br>
      </div>
      <div id="logged_in" style="display: none;">
        You are logged in as <b><span id="logged_in_name"></span></b>
        <form action=logout method=get >
          <input type="submit" value="Log out"/>
        </form>
        <br><br>
      </div>
    </div>
  </body>
</html>
