cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cwmungo==0.1.1
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
google-auth==1.24.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.25.1
rsa==4.7
six==1.15.0
SQLAlchemy==1.3.22
urllib3==1.26.3
Wand==0.6.5
Werkzeug==1.0.1
