<!DOCTYPE html>
<html>
  <head>
    <style>
      table, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      .cell_label {
        position: absolute;
      }
      .cell_container {
        position: relative;
      }
      .cell_letter {
        width:30px;
        height:30px;
        line-height:30px;
        vertical-align:middle;
        text-align:center;
      }
    </style>
  <script type="text/javascript">
    var image_data = {{image_data|tojson}};
    var cw_data = {{cw_data|tojson}};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='cw.js') }}"></script>
  </head>
  <body>
    <div name="status">{{message}}</div>
    <div name="table"></div>
    <div name="rest">
      <br>
      <form name="new" onsubmit="return onSubmit();">
        <input type="number" name="number" step="1"/>
        <select name="direction">
          <option name="across">Across</option>
          <option name="down">Down</option>
        </select>
        <input type="text" name="text" style="text-transform:uppercase"/>
        <br>
        <input type="submit" value="Submit"/>
      </form>
    </div>
    <div name="image">
      <img name="image_image"/>
    </div>
  </body>
</html>
